APP_NAME=Modularous
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

ADMIN_APP_URL=
# ADMIN_APP_PATH=
# ADMIN_ROUTE_NAME_PREFIX=admin

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

APP_EMAIL=

# APP_VERSION=v1.5.0
# MODULARITY_VERSION=v0.58.1
# PAYABLE_VERSION=v0.12.2
# SNAPSHOT_VERSION=v2.2.0
# COMPOSER=unusualify/modularity-laravel

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# MODULAROUS START
MODULAROUS_CACHE_ENABLED=false

MEDIA_LIBRARY_ENDPOINT_TYPE=local
MEDIA_LIBRARY_IMAGE_SERVICE=Unusualify\Modularous\Services\MediaLibrary\Local
MEDIA_LIBRARY_LOCAL_PATH=uploads

VUE_APP_THEME=unusualify
VUE_APP_NAME=MODULAROUS
VUE_APP_LOCALE=en
VUE_APP_FALLBACK_LOCALE=en
VUE_DEV_PORT=5173
VUE_DEV_HOST=localhost
VUE_DEV_PROXY=
# MODULAROUS END

# ACTIVITY_LOGGER_DB_CONNECTION=mysql
ACTIVITY_LOGGER_ENABLED=false
